#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  background-color: white;
  color:black;
}

.outer-card {
  display:flex;
  margin: 10px;
  height: 250px;
  border: 2px solid black;
}

.inner-card {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.inner-card p {
  font-size: 12px;
}

.outer-card img {
  width: 250px;
  padding: 20px;
}

.labels {
  display: flex;
  gap: 10px;
}

.greenDiv {
  background-color: #5CC17E;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
}


.blueDiv {
  background-color:#1D6DE5;
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
}

.deleteButton {
  padding-top: 10px;
  margin: 10px 0 10px 0;
  width: auto;
  height: 50px;
  text-align: center;
  background-color:rgba(229, 234, 238);
  border-radius: 10px;
  color: black;
  border: black;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}